@charset "utf-8";
/* Global Styles */


body {
	margin-left: auto;
	margin-right: auto;
	width: 92%;
	max-width: 960px;
	padding-left: 2.275%;
	padding-right: 2.275%;
	background-color: #00A7E1;
	background-image: url("../images/clouds-07.png");
}



/* Header */
header {
	text-align: center;
	display: block;
}
 .profileLogo {
align-content: center;
}

ul {
	list-style-type: none;
	display: inline;
  	margin:0;
	overflow: hidden;
	padding-left: 20px;
}

li {
	float:left;
	padding-left: 20px;
	padding-top: 10px;
}

.navBarElements {
	display: block;
  	padding-top: 8px;
	font-family: 'p22-underground', sans-serif;
	color: white;
	font-weight: 600;
}

hr {
	border: 1px solid white;
}

.w3-container {
	background-color: #F5B335;
	border-radius: 20px;
	
}

header .profilePhoto {
	float: left;
	padding-left: 10px;
	padding-right: 15px;
}

#token {
	padding-top: 10px;
	padding-left: 10px;
	float: left;
}

#cgLogo {
	padding-top: 20px;
	padding-bottom: 20px;
		float: left;
}

#dcLogo {
	padding-top: 20px;
	padding-bottom: 20px;
	
}

header .profileHeader h1 {
	font-family: 'p22-underground', sans-serif;
	color: rgba(255,255,255,1.00);
	font-size: 23px;
	font-weight: 700;
	line-height: 28px;
	padding-left: 20px;
	padding-right: 20px;
	text-align:center; 
}
header .profileHeader p {
	font-family: 'p22-underground', sans-serif;
	color: rgba(255,255,255,1.00);
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	padding-left: 30px;
	padding-right: 30px;
	text-align: start;
}

.bottomPadding {
	padding-bottom: 30px;
}

#address {
	color: navy;
	font-weight: 600;
}

.contacts {
	float: left;
}

#emailIcon {
	float: left;
	padding-right: 13px
}

#numIcon {

	float: left;
}

#email {
	float: left;
	padding-bottom: 20px;
	font-size: 20px;
	color: #005335;
}

#number {
	float: left;
	padding-top: 20px;
	font-size: 20px;
	color: #005335;
}

#offering {
	padding-top: 25px;
	padding-bottom: 15px;
	float: none;
}